 <!-- Welcome page of J's blog-->
 

{% extends "base1.html" %}
{% block content %}

    
            <div class="jumbotron">
              <h1>Welcome To J's Blog Engine!</h1>
                <p>You need to write about something..? This will be just a simple blog engine for you.</p>
                <p><a class="btn btn-primary btn-lg" href="/signup">Signup now!</a>
                or <a class="btn btn-primary btn-lg" href="/login">Already User!</a></p>
            </div>
    

{% endblock %}


            